.App {
  text-align: center;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40vmin;
}

.App-logo {
  height: 100%;
  width: auto;
  pointer-events: none;
  transform-origin: center center;
  animation: App-logo-spin infinite 3s linear;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.App-header {
  background-color: rgb(39, 36, 36);
  /* background-color:rgb(242, 245, 238); */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.container {
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  flex-direction: column; /* Ensures elements stack properly */
  height: 100vh; /* Ensures full height usage */
  text-align: center; /* Ensures text elements are centered */
}


.Start-link-Button {
	background-color: rgb(15, 14, 14);
	/* color: rgb(89, 170, 236); */
  color: whitesmoke;
	height: 7vh; /* vw and vh are used for margins, padding, spacing, and widths/heights. */
	width: 15vw;
  margin-bottom: 1vh; /* adds space at the bottom of the button*/

  
	/* for text */
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  flex-direction: column; /* Ensures elements stack properly */
	font-weight: bold;


	cursor: pointer;
	
  /* for shape */
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.4s;
}

.Start-link-Button:hover {
  background-color: rgb(50, 47, 47);
}

.Question-link-Button {
	background-color: rgb(15, 14, 14);
	/* color: rgb(89, 170, 236); */
  color: whitesmoke;
	height: 6vh; /* vw and vh are used for margins, padding, spacing, and widths/heights. */
	width: 4vw;
  margin-top: 1vh;
  margin-bottom: 1vh; /* adds space at the bottom of the button*/

  
	/* for text */
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  flex-direction: column; /* Ensures elements stack properly */
	
	cursor: pointer;
	
  /* for shape */
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.4s;
}

.Question-link-Button:hover {
  background-color: rgb(50, 47, 47);
}