.App {
  text-align: center;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40vmin;
}

.App-logo {
  height: 100%;
  width: auto;
  pointer-events: none;
  transform-origin: center center;
  animation: App-logo-spin infinite 3s linear;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.App-header {
  background-color: grey;
  /* background-color:rgb(242, 245, 238); */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

